header{  
    padding: 5px;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
    h1{
        color: #753f21 !important;
        font-size: 70px;
    }